{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %} 
<h3>Sobre nós</h3>

<p id ="introducao"> 
    Quem são os criadores do Software? <br>
    O software foi desenvolvido por estudantes do  Instituto Federal de Educação, Ciência e Tecnologia do Paraná, Larissa Maiume M. Cruz e Richard Ramos.<br><br>
 Ao unir o conhecimento em tecnologia da programação adquirido durante o curso de técnico em Informática para criar algo novo a partir da observação de que as ferramentas de conversa usadas por jogadores de RPG não eram adequadas e ideiais.<br>
Pensando nisso, foi desenvolvido um chat com sistema de combate integrado, cujo  objetivo foi tornar as sessões mais práticas e imersivas.<br>
Usando Python, Django e conceitos de programação orientada a objetos, cada parte do projeto reflete o aprendizado e esforço dedicado durante o processo.<br>
O projeto foi feito com entusiasmo e com o propósito de oferecer algo útil e divertido para a comunidade RPGista.  <br> <br>



</p>

{% endblock conteudo %}