{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %} 
<h3>lista de Universos</h3>

<!--botão para criar um universo, com a classe btn-outline-primary(botão "vazio" com a cor em volta do botão) -->
<a class="btn btn-sm btn-outline-primary" href="{% url "criar_universo" %}">Novo Universo</a>

<table class="table table-striped table-hover">
    <tr>
        <th>Nome</th>
        <th>descrição</th>
        <th>Ultima atualização</th>
        <th>Criado em </th>
        <th>Opções</th>
    </tr>
    
    {% for universo in  object_list %}
    
    <tr>
        <td>{{ universo.nome}}</td>
        <td>{{ universo.descricao}}</td>
        <td>{{ universo.ultima_atualizacao}}</td>
        <td>{{ universo.data_criacao}}</td>
        <td>
            <a class="btn btn-sm btn-dark" href="{% url "atualizar_universo" universo.pk %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="#">Excluir</a>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3">Nenhum usúario encontrado</td>
    </tr>
    
    {% endfor %}
</table>

{% endblock conteudo %}