{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %} 
<h3>lista de Usúarios</h3>

<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>nickname</th>
        <th>Opções</th>
    </tr>
    
    {% for user in  object_list %}
    
    <tr>
        <td>{{ user.codigo_id}}</td>
        <td>{{ user.usuario.username}}</td>
        <td>
            <a class="btn btn-sm btn-dark" href="{% url "atualizar_usuario" user.pk %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="{% url "deletar_usuario" user.pk %}">Excluir</a>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3">Nenhum usúario encontrado</td>
    </tr>
    
    {% endfor %}
</table>

{% endblock conteudo %}